services:
  mongodb:
    image: mongo:latest
    container_name: url-shortener-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=url-shortener
    networks:
      - app-network
  
  redis:
    image: redis:latest
    container_name: url-shortener-redis
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - app-network

  app:
    build: .
    container_name: url-shortener-app
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGODB_URI=mongodb://mongodb:27017/urlshortener
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - BASE_URL=http://localhost:3000
      - NODE_ENV=production
    depends_on:
      - mongodb
      - redis
    networks:
      - app-network
    restart: unless-stopped
  
  nginx:
   image: nginx:alpine
   container_name: url-shortener-nginx
   ports:
   - "80:80"
   volumes:
   - ./nginx.conf:/etc/nginx/nginx.conf:ro
   depends_on:
   - app
   networks:
   - app-network
   restart: unless-stopped



volumes:
  mongodb_data:
  redis_data:
networks:
 app-network:
  driver: bridge